{% extends "template.html" %}
{% block content %}
      <!-- breadcrumb start -->
      <!-- ================ -->
      <div class="breadcrumb-container">
        <div class="container">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="{{ url_for('home', _external='True', _scheme='https') }}">Home</a></li>
            <li class="breadcrumb-item active">Import User</li>
          </ol>
        </div>
      </div>
      <!-- breadcrumb end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">

        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12">

              <!-- page-title start -->
              <!-- ================ -->
              <h1 class="page-title">Import User</h1>
              <div class="separator-2"></div>
              <!-- page-title end -->

              <div class="upload-btn-wrapper">
                <form action="/upload" method="post" enctype="multipart/form-data">
                  <input type="file" name="fileupload" id="fileToUpload" class="btn btn-secondary">
                  </br>
                  <input type="submit" value="Upload File" name="submit" class="btn btn-secondary">
                </form>
              </div>

            <!-- main end -->

          </div>
        </div>
      </section>
      
      <!-- main-container end -->

{% endblock content %}