{% extends "template.html" %}

{% block content %}
<div id="sign-in-widget"></div>
<script type="text/javascript">
  new OktaSignIn({
    baseUrl: "{{config.okta_org_name}}",
    clientId: "{{config.client_id}}",
    redirectUri: "{{config.redirect_uri}}",
    logo: 'https://logo.clearbit.com/fundera.com',
    authParams: {
      issuer: "{{config.issuer}}",
      responseType: 'code',
      state: '{{state}}',
      display: 'page',
      scopes: ['openid', 'profile', 'email', 'offline_access']
    }
  }).renderEl(
    { el: '#sign-in-widget' },
    function (res) {}
  );
</script>
{% endblock content %}